.header {
    height: 100px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background: #282828;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.header span {
    text-align: center;
    margin-left: 50%;
}